body {
	background-color: #e5e2db;
	max-width: 900px;
	margin: 24px auto;
	}
header {
	margin: 35px 0;
	font-size: 68px;
	}
h2 {
	color: red;
	}
aside nav a {
	display: block; auto
	text-align: center; auto
	}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
