body {
	background-color: #e5e2db;
	max-width: 800px;
	margin: 24px auto;
}

img {
	float: right;
	width: 300px;
	border: 3px solid #73AD21;
	padding: 10px;
}

header {
	margin: 35px 0;
	font-size: 68px;
	float: left;
}

nav {
	display: block; auto
	text-align: center; auto
}

article {
	float: left;
	max-width: 700px;
}

main::after {
	content: "";
	clear: both;
	display: block;
}	
