h1 {
	max-width: 800px;
	margin: auto;
	text-align: center;
}

nav {
	display: block;
	text-align: center;
}

.introduction {
	float: left;
	max-width: 700px;
	text-align: center;
	font-size: 20px;
}

.about {
	float: left;
	max-width: 700px;
	text-align: center;
	font-size: 20px;
}

.portfolio {
	float: left;
	max-width: 700px;
	text-align: center;
	font-size: 20px;
}

.contact {
	float: left;
	max-width: 700px;
	text-align: center;
	font-size: 20px;
}
